html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.justify {
  text-align: justify;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.align-centre {
  display: block;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
}

@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  src: local(Open Sans), local(OpenSans), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  src: local(Open Sans Semibold), local(OpenSans-Semibold), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  src: local(Open Sans Extrabold), local(OpenSans-Extrabold), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.open-sans, body {
  font-family: Open Sans, arial, sans-serif;
}

@font-face {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 300;
  src: local(Roboto Slab Light), local(RobotoSlab-Light), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJR_xHqYgAV9Bl_ZQbYUxnQU.woff) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 400;
  src: local(Roboto Slab Regular), local(RobotoSlab-Regular), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/y7lebkjgREBJK96VQi37ZobN6UDyHWBl620a-IRfuBk.woff) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 700;
  src: local(Roboto Slab Bold), local(RobotoSlab-Bold), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJTqR_3kx9_hJXbbyU8S6IN0.woff) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.roboto-slab, h1, h2, h3, h4, h5, h6 {
  font-family: Roboto Slab, arial, sans-serif;
  font-weight: 600;
}

#example {
  position: relative;
}

#example .over {
  position: relative;
  z-index: 999;
}

.baselines {
  position: absolute;
  width: 100%;
  top: 0;
}

.baselines b {
  display: block;
}

.columns {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}

@media (min-width: 500px) {
  .columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
  }
}

@media (min-width: 1000px) {
  .columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
  }
}

body {
  line-height: 30px;
  line-height: 1.875rem;
  font-size: 16px;
  font-size: 1rem;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}

h1 {
  line-height: 60px;
  line-height: 3.75rem;
  font-size: 40px;
  font-size: 2.5rem;
}

h2 {
  line-height: 60px;
  line-height: 3.75rem;
  font-size: 36px;
  font-size: 2.25rem;
}

h3 {
  line-height: 60px;
  line-height: 3.75rem;
  font-size: 32px;
  font-size: 2rem;
}

h4 {
  line-height: 30px;
  line-height: 1.875rem;
  font-size: 28px;
  font-size: 1.75rem;
}

h5 {
  line-height: 30px;
  line-height: 1.875rem;
  font-size: 24px;
  font-size: 1.5rem;
}

h6 {
  line-height: 30px;
  line-height: 1.875rem;
  font-size: 20px;
  font-size: 1.25rem;
}
