html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.justify {
  text-align: justify;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.align-centre {
  display: block;
  margin: 0 auto;
}

@font-face {
  font-family: Arvo;
  font-style: normal;
  font-weight: 400;
  src: local(Arvo), local(Arvo), url(http://fonts.gstatic.com/s/arvo/v8/J0GYVYTizO1mjpT3aOcSbQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: Arvo;
  font-style: normal;
  font-weight: 700;
  src: local(Arvo Bold), local(Arvo-Bold), url(http://fonts.gstatic.com/s/arvo/v8/Ya11CJGBCnKoJHvb8B2EOw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.arvo, h1, h2, h3, h4, h5, h6 {
  font-family: Arvo, arial, sans-serif;
  font-weight: bold;
}

@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  src: local(Open Sans), local(OpenSans), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  src: local(Open Sans Semibold), local(OpenSans-Semibold), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  src: local(Open Sans Extrabold), local(OpenSans-Extrabold), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.open-sans, body, light-theme, textarea, input, button {
  font-family: Open Sans, arial, sans-serif;
}

body.light-theme {
  line-height: 28px;
  line-height: 1.75rem;
  font-size: 16px;
  font-size: 1rem;
}

body.light-theme p, body.light-theme h1, body.light-theme h2, body.light-theme h3, body.light-theme h4, body.light-theme h5, body.light-theme h6 {
  margin-bottom: 28px;
  margin-bottom: 1.75rem;
}

body.light-theme h1 {
  line-height: 56px;
  line-height: 3.5rem;
  font-size: 40px;
  font-size: 2.5rem;
}

body.light-theme h2 {
  line-height: 56px;
  line-height: 3.5rem;
  font-size: 36px;
  font-size: 2.25rem;
}

body.light-theme h3 {
  line-height: 56px;
  line-height: 3.5rem;
  font-size: 32px;
  font-size: 2rem;
}

body.light-theme h4 {
  line-height: 28px;
  line-height: 1.75rem;
  font-size: 28px;
  font-size: 1.75rem;
}

body.light-theme h5 {
  line-height: 28px;
  line-height: 1.75rem;
  font-size: 24px;
  font-size: 1.5rem;
}

body.light-theme h6 {
  line-height: 28px;
  line-height: 1.75rem;
  font-size: 20px;
  font-size: 1.25rem;
}

body.light-theme .container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 20px;
}

body.light-theme a {
  text-decoration: none;
}

body.light-theme a:link {
  color: #333;
}

body.light-theme a:visited {
  color: #FFF;
}

body.light-theme a:hover {
  color: #289e83;
}

body.light-theme a:active {
  color: #1b8898;
}

.centre {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
