// Google fonts
// ------------------------------------------------------------------------
$googleFonts : (
	open-sans : (
		font-family: 'Open Sans',
		weights : (
			400 : (
				localone : 'Open Sans',
				localtwo : 'OpenSans',
				url : 'url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff)' 
			),
			600 : (
				localone : 'Open Sans Semibold',
				localtwo : 'OpenSans-Semibold',
				url : 'url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff)' 
			),
			800 : (
				localone : 'Open Sans Extrabold',
				localtwo : 'OpenSans-Extrabold',
				url : 'url(http://themes.googleusercontent.com/static/fonts/opensans/v8/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff)' 
			)
		)
	),
	open-sans-condensed : (
		font-family: 'Open Sans Condensed',
		weights : (
			300 : (
				localone : 'Open Sans Cond Light',
				localtwo : 'OpenSans-CondensedLight',
				url : 'url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xF1YPouZEKgzpqZW9wN-3Ek.woff)' 
			),
			700 : (
				localone : 'Open Sans Condensed Bold',
				localtwo : 'OpenSans-CondensedBold',
				url : 'url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xONSK5BxN3NFS4EJkViHIqo.woff)' 
			)
		)
	),
	roboto : (
		font-family: 'Roboto',
		weights : (
			300 : (
				localone : 'Roboto Light',
				localtwo : 'Roboto-Light',
				url : 'url(http://themes.googleusercontent.com/static/fonts/roboto/v11/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff)' 
			),
			400 : (
				localone : 'Roboto Regular',
				localtwo : 'Roboto-Regular',
				url : 'url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff)' 
			),
			700 : (
				localone : 'Roboto Bold',
				localtwo : 'Roboto-Bold',
				url : 'url(http://themes.googleusercontent.com/static/fonts/roboto/v11/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff)' 
			)
		)
	),
	roboto-slab : (
		font-family: 'Roboto Slab',
		weights : (
			300 : (
				localone : 'Roboto Slab Light',
				localtwo : 'RobotoSlab-Light',
				url : 'url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJR_xHqYgAV9Bl_ZQbYUxnQU.woff)' 
			),
			400 : (
				localone : 'Roboto Slab Regular',
				localtwo : 'RobotoSlab-Regular',
				url : 'url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/y7lebkjgREBJK96VQi37ZobN6UDyHWBl620a-IRfuBk.woff)' 
			),
			700 : (
				localone : 'Roboto Slab Bold',
				localtwo : 'RobotoSlab-Bold',
				url : 'url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJTqR_3kx9_hJXbbyU8S6IN0.woff)' 
			)
		)

	),
	quicksand : (
		font-family: '"Quicksand"',
		weights : (
			300 : (
				localone : 'Quicksand Light',
				localtwo : 'Quicksand-Light',
				url : 'url(http://fonts.gstatic.com/s/quicksand/v5/qhfoJiLu10kFjChCCTvGlOgdm0LZdjqr5-oayXSOefg.woff2)' 
			),
			400 : (
				localone : 'Quicksand Regular',
				localtwo : 'Quicksand-Regular',
				url : 'url(http://fonts.gstatic.com/s/quicksand/v5/sKd0EMYPAh5PYCRKSryvW1tXRa8TVwTICgirnJhmVJw.woff2)' 
			),
			700 : (
				localone : 'Quicksand Bold',
				localtwo : 'Quicksand-Bold',
				url : 'url(http://fonts.gstatic.com/s/quicksand/v5/32nyIRHyCu6iqEka_hbKsugdm0LZdjqr5-oayXSOefg.woff2)' 
			)
		)
	),
	leckerli-one : (
		font-family: '"Leckerli One"',
		weights : (
			300 : (
				localone : 'Leckerli One',
				localtwo : 'LeckerliOne-Regular',
				url : 'url(http://fonts.gstatic.com/s/leckerlione/v7/S2Y_iLrItTu8kIJTkS7DrOgdm0LZdjqr5-oayXSOefg.woff2)' 
			)
		)
	),
	oswald : (
		font-family: '"Oswald"',
		weights : (
			300 : (
				localone : 'Oswald Light',
				localtwo : 'Oswald-Light',
				url : 'url(http://fonts.gstatic.com/s/oswald/v10/HqHm7BVC_nzzTui2lzQTDVtXRa8TVwTICgirnJhmVJw.woff2)' 
			),
			400 : (
				localone : 'Oswald Regular',
				localtwo : 'Oswald-Regular',
				url : 'url(http://fonts.gstatic.com/s/oswald/v10/pEobIV_lL25TKBpqVI_a2w.woff2)' 
			),
			700 : (
				localone : 'Oswald Bold',
				localtwo : 'Oswald-Bold',
				url : 'url(http://fonts.gstatic.com/s/oswald/v10/bH7276GfdCjMjApa_dkG6VtXRa8TVwTICgirnJhmVJw.woff2)' 
			)
		)
	),
	source-sans : (
		font-family: 'Source Sans Pro',
		weights : (
			200 : (
				localone : 'Source Sans Pro ExtraLight',
				localtwo : 'SourceSansPro-ExtraLight',
				url : 'url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCVh0V6fR69OLaFLklYbiSk.woff2)' 
			),
			300 : (
				localone : 'Source Sans Pro Light',
				localtwo : 'SourceSansPro-Light',
				url : 'url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGOode0-EuMkY--TSyExeINg.woff2)' 
			),
			400 : (
				localone : 'Source Sans Pro',
				localtwo : 'SourceSansPro-Regular',
				url : 'url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2)' 
			),
			600 : (
				localone : 'Source Sans Pro Semibold',
				localtwo : 'SourceSansPro-Semibold',
				url : 'url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCOFnW3Jk0f09zW_Yln67Ac.woff2)'
			),
			700 : (
				localone : 'Source Sans Pro Bold',
				localtwo : 'SourceSansPro-Bold',
				url : 'url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEo0As1BFRXtCDhS66znb_k.woff2)'
			)
		)
	),
	lobster : (
		font-family: 'Lobster',
		weights : (
			400:(
				localone : 'Lobster',
				localtwo : 'Lobster-Regular',
				url : 'url(http://fonts.gstatic.com/s/lobster/v15/cycBf3mfbGkh66G5NhszPQ.woff2)'

			)
		)
	),
	arvo : (
		font-family: 'Arvo',
		weights : (
			400:(
				localone : 'Arvo',
				localtwo : 'Arvo',
				url : 'url(http://fonts.gstatic.com/s/arvo/v8/J0GYVYTizO1mjpT3aOcSbQ.woff2)'
			),
			700:(
				localone : 'Arvo Bold',
				localtwo : 'Arvo-Bold',
				url : 'url(http://fonts.gstatic.com/s/arvo/v8/Ya11CJGBCnKoJHvb8B2EOw.woff2)'
			)
		)
	),
	pacifico : (
		font-family: 'Pacifico',
		weights : (
			400:(
				localone : 'Pacifico Regular',
				localtwo : 'Pacifico-Regular',
				url : 'url(https://fonts.gstatic.com/s/pacifico/v7/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2)'
			)
		)
	),
	grand-hotel : (
		font-family: 'Grand Hotel',
		weights : (
			400:(
				localone : 'Grand Hotel',
				localtwo : 'GrandHotel-Regular',
				url : 'url(https://fonts.gstatic.com/s/grandhotel/v4/NrGQkrs9rbHm5EYx0Eil0ogp9Q8gbYrhqGlRav_IXfk.woff2)'
			)
		)
	),
	satisfy : (
		font-family: 'Satisfy',
		weights : (
			400:(
				localone : 'Satisfy',
				localtwo : 'Satisfy',
				url : 'url(https://fonts.gstatic.com/s/satisfy/v6/0EcI1zXfvSXoNHQChcRmRwLUuEpTyoUstqEm5AMlJo4.woff2)'
			)
		)
	),
	damion : (
		font-family: 'Damion',
		weights : (
			400:(
				localone : 'Damion',
				localtwo : 'Damion',
				url : 'url(https://fonts.gstatic.com/s/damion/v6/ksD1WDDgZAyMd1VY75GZ6evvDin1pK8aKteLpeZ5c0A.woff2)'
			)
		)
	)
);