// Vertical Rhythm
// ------------------------------------------------------------------------
$baseFontSize   : 16px                          !default;
$baseLineHeight : 28px                          !default;
$headerHeights  : 40px 36px 32px 28px 24px 20px !default;

// Grid Settings
// ------------------------------------------------------------------------
$grid-col-count     : 12    !default;
$grid-gutter-width  : 2%    !default;
$grid-stack-point   : 550px !default;
$grid-mobile-first  : true  !default;
$grid-shift-classes : true  !default;

// Colour variables
// ------------------------------------------------------------------------

$col-primary       :  #289e83 !default;
$col-secondary     :  #1b8898 !default;
$col-warning       :  #d7861e !default;
$col-danger        :  #ac2828 !default;
$col-success       :  #54A03A !default;

$col-pastel-red    :  #e7534f !default;
$col-slate         :  #1C2227 !default;
$col-turquoise     :  #1ABC9C !default;
$col-green-sea     :  #16A085 !default;
$col-emerald       :  #2ECC71 !default;
$col-nephritis     :  #27AE60 !default;
$col-river-blue    :  #3498DB !default;
$col-belize-hole   :  #2980B9 !default;
$col-amethyst      :  #9B59B6 !default;
$col-wisteria      :  #8E44AD !default;
$col-wet-asphalt   :  #34495E !default;
$col-midnight-blue :  #2C3E50 !default;
$col-sunflower     :  #F1C40F !default;
$col-orange        :  #F39C12 !default;
$col-carrot        :  #E67E22 !default;
$col-pumpkin       :  #D35400 !default;
$col-alizarin      :  #E74C3C !default;
$col-pomegranate   :  #C0392B !default;
$col-clouds        :  #ECF0F1 !default;
$col-silver        :  #BDC3C7 !default;
$col-concrete      :  #95A5A6 !default;
$col-asbestos      :  #7F8C8D !default;

$socialColours:(
    facebook: #3b5998,
    twitter: #00aced,
    google: #dd4b39,
    linkedin: #007bb6,
    youtube: #bb0000,
    instagram: #517fa4,
    pinterest: #cb2027,
    flickr: #ff0084,
    tumblr: #32506d,
    forusquare: #0072b1,
    dribbble: #ea4c89,
    vine: #00bf8f
);

// Cubic Bezier easing
// ------------------------------------------------------------------------
$bounce     : cubic-bezier(.39,-0.35,.4,1.36) !default;
$rush       : cubic-bezier(.12,.85,.28,1)     !default;
$snap       : cubic-bezier(.12,.85,.89,.4)    !default;
$handbrake  : cubic-bezier(.09,.98,.39,.26)   !default;
$late       : cubic-bezier(.16,-0.32,.26,.59) !default;
$warpspeed  : cubic-bezier(.96,0,.04,1)       !default;
$decelerate : cubic-bezier(.08,1.23,.61,.53)  !default;   



// Vendor Prefixes
// ------------------------------------------------------------------------
$defaultVendors   : "-webkit-" "-moz-" ""        !default;
$animationVendors : "-webkit-" "-moz-" "-o-" ""  !default;
$transformVendors : "-webkit-" "-moz-" "-ms-" "" !default;	