// =========================================================================================================================
// Spice - Development partial
// The following mixins/functions are currently in development 
// or depricated awaiting removal from code base in next release.
// ------------------------------------------------------

@charset "utf-8";
@import "variables";
@import "utils";



// Depricated ---------






/// Add styles for an alert style message element. 
/// Arguments allow you to asign a class name, add colour,
/// edit rounding and border effect.
/// @name message
/// @group messages, hints & alerts
/// @param {#hex/rgba} col [#333] Link colour
/// @param {#hex/rgba} hover [#ECF0F1] Hover background colour
/// @param {#hex/rgba} active [#2980B9] Active text colour
/// @param {pixel value} fontSize [16px] Font size of the links
/// @param {pixel shorrhand} padding [12px 20px] padding of the links
/// @param {#hex/rgba} bgCol [false] Optional background colour
/// @example scss - Include
///  @include verticalNav(#333,$col-clouds,$col-belize-hole);
///
/// @example css - Output
///  ul.vertical-nav li {
///      display: block;
///      position: relative;
///  }
///  
///  ul.vertical-nav li.active a {
///      color: #2980B9;
///  }
///  
///  ul.vertical-nav li a {
///      display: block;
///      color: #333;
///      padding: 12px 20px;
///      text-decoration: none;
///      font-size: 16px;
///      font-size: 1rem;
///  }
///  
///  ul.vertical-nav li a:hover {
///      background-color: #ECF0F1;
///      color: #69878e;
///  }
///  
///  ul.vertical-nav li a i {
///      margin-right: 10px;
///  }
///  
///  ul.vertical-nav li .subnav li a {
///      padding-left: 40px;
///  }

@mixin verticalNav($col:#333,$hover:$col-clouds,$active:$col-belize-hole,$fontSize:16px,$padding:12px 20px,$bgCol:false){

    ul.vertical-nav{

        @if $bgCol{
            background-color: $bgCol;
        }

        li{

            display: block;
            position:relative;

            &.active a{

                color:$active;
            }

            a{

                display: block;
                color:$col;
                padding:$padding;
                text-decoration:none;
                @include fontSize($fontSize);

                &:hover{

                    background-color:$hover;
                    color: contrast($hover,45%);
                }

                i{

                    margin-right: 10px;
                }
            }

            .subnav{
                
                li a {

                    padding-left:40px;
                }
            }
        }
    }
}